@media(min-width:576px){
    .container{
        max-width: 540px;
    }
    .col-sm-12{
        width: 100%;
    }
}
@media(min-width:576px){
    .container-xsm{
        max-width: 100%;
    }
    .col-xsm-12{
        width: 100%;
    }
}